{% extends "empty.html" %}
{% block content %}

    <h1 class="mb-3">Shorten 1000</h1>
    <p class="mb-5">
        Write below your full url...<br />A shorter version will be returned to you!
    </p>

    <form id="post-form" method="post">
        {% csrf_token %}
        <input style="border-radius: 0.25rem; height: 40px;" size="50" type="url" name="link" id="link" placeholder="Enter URL here">

        <div class="buttons">
            <button style="color: white; background-color: #b17e44; border-color: #b17e44;
            border-radius: 0.25rem; padding: 0.375rem 0.75rem; border: 1px solid transparent;
            margin-top: 10px;" type="submit" id="shorten">Shorten</button>
        </div>

    </form>

{% endblock %}