{% extends "empty.html" %}

{% block content %}
    <p class="mb-5">
        Here is your new Url...
    </p>

    <h3 id="shortened">{{ request.get_host }}{{ request.origin }}/go/{{ url.uuid }} </h3>
    <button id="copy" style="float:right"><i class="far fa-copy"></i></button>
{% endblock content%}

{% block extra_js %}

    <script type="text/javascript">
        $('#copy').on('click', function() {
          var new_url = document.getElementById("shortened").select()
          document.execCommand('copy', false, new_url);
          alert("copy is completed")
        });
    </script>

{% endblock extra_js%}

