{% extends "empty.html" %}

{% block content %}
    <p class="mb-5">
        Here is your new Url...
    </p>

    <input style="width:300px" id="shortened" readonly value="{{ request.get_host }}{{ request.origin }}/go/{{ url.uuid }}" />
    <button onclick="copyToClipboard()" id="copy"><i class="far fa-copy"></i></button>

{% endblock content%}

{% block extra_js %}

<script>
function copyToClipboard () {
    document.getElementById("shortened").select();
    document.execCommand("copy");
    alert("Copied to clipboard");
}
</script>

{% endblock extra_js%}

